<div class="ui small blue inverted menu">
  <div class='ui container'>
    <%= link_to root_path, class: "item" do %>
      <i class="white circular beer icon"></i>
    <% end %>
      <a class="item">
        Messages
      </a>
      <div class="right menu">
      <% if logged_in? && current_user %>
        <div class="ui dropdown item"><%= current_user.username %><i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to 'Log out', logout_path, method: :delete, class: 'item' %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Log in', login_path, class: 'item' %>
        <%= link_to 'Sign up', signup_path, class: 'item' %>
      <% end %>
    </div>
  </div>
</div>
